/** debut nav bar**/

.logonav {
    width: 4%;
}

.titre {
    font-size: 2Vh;
    color: #5fcf80;
    font-weight: bold;
}

.titre:hover {
    font-weight: bold;
    color: green;
}

.ulnav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
}

.linav2 {
    color: #5fcf80;
    margin: 1vw;
    font-weight: bold;
}

.linav2:hover {
    font-weight: bold;
    color: green;
}

.linav {
    margin: 1vw;
}

.linav:hover {
    font-weight: bold;
    color: grey;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 2%;
}

.logo p {
    display: inline;
}

.liennav {
    position: relative;
}

.bordernav {
    border-bottom: 2px solid;
    border-color: rgba(232, 236, 241, 0.7);
    border-radius: 2%;
}
/** fin nav bar**/


/**section 1**/

.join{
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4%;
}
h1{
    color: ghostwhite;
    margin-bottom: 3%;
    text-align: center;
    width: 50%;
    padding: 5%;
}
.opport{
    padding: 1.1%;
    font-weight: bold;
    margin-bottom: 6%;
    

}






/**section 2**/


/**section 3**/
.imgsize{
    width: 10vw;
    height: 10vw;
    padding-left: 3vw;
}
.logoimg{
    width: 25vw;
    height: auto;
    padding: 2vw;
    
    
}
.logoflex {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.perks{
    text-align: center;
    
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
}
.paraglogo{
    text-align:justify;
    }



/**section 4**/
.sect4{
    padding-top: .1%;
    background-color: rgb(224, 217, 217,0.3);
    
}

/**general**/
h2{
    text-align: center;
    font-weight: bold;
    margin-top: 7%;

}

@media screen and (max-width:560px){

    .picture{
        display: none;

    }
}


@media screen and (max-width: 332px){

    .logoflex{

        flex-direction: column;
        align-items: center;
        
    }
    .logoimg{
        width: 60vw;
        height: auto;
        padding: 2vw;
        
    }

    .imgsize{
        width: 10vw;
        height: 10vw;
        padding-left: 3vw;
    }

}