/** debut nav bar**/

.logonav {
    width: 4%;
}

.titre {
    font-size: 2Vh;
    color: #5fcf80;
    font-weight: bold;
}

.titre:hover {
    font-weight: bold;
    color: green;
}

.ulnav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
}

.linav2 {
    color: #5fcf80;
    margin: 1vw;
    font-weight: bold;
}

.linav2:hover {
    font-weight: bold;
    color: green;
}

.linav {
    margin: 1vw;
}

.linav:hover {
    font-weight: bold;
    color: grey;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 2%;
}

.logo p {
    display: inline;
}

.liennav {
    position: relative;
}

.bordernav {
    border-bottom: 2px solid;
    border-color: rgba(232, 236, 241, 0.7);
    border-radius: 2%;
}
/** fin nav bar**/


/**section 1**/

.join{
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: ghostwhite;
    margin-bottom: 4%;
    text-align: center;
    width: 50%;
    padding: 5%;
}
.opport{
    padding: 1.2%;
    font-weight: bold;
    margin-bottom: 2%;

}


/**section 2**/


/**section 3**/
.imgsize{
    width: 10vw;
    height: auto;
}
.logoimg{
    width: 25vw;
    height: auto;
    
    
}
.logoflex {
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.perks{
    padding-bottom: 5%;
}




/**section 4**/


/**general**/
h2{
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}
p{
    text-align: center;
    margin: 2%;
}
